<md-card>
  <md-card-subtitle>Step <strong>3</strong> of <strong>3</strong></md-card-subtitle>
  <md-card-title>Summary</md-card-title>
  <md-card-content>
    <h3>User</h3>
    <p>
      <strong>Name:</strong> {{(store | async)?.user.firstName}} {{(store | async)?.user.lastName}}
    </p>
    <p>
      <strong>Gender:</strong> {{(store | async)?.user.gender | capitalize}}
    </p>
    <h3>Health</h3>
    <p>
      <strong>Height:</strong> {{(store | async)?.health.height}} in
    </p>
    <p>
      <strong>Weight:</strong> {{(store | async)?.health.weight}} lb
    </p>
    <p>
      <strong>BMI: </strong> {{(store | async)?.health.bmi}}
    </p>
  </md-card-content>
  <md-card-actions>
    <button type="button" md-raised-button color="accent" (click)="onBack.emit()">BACK</button>
    <button type="click" md-raised-button color="accent" (click)="onSubmit.emit()">SUBMIT</button>
  </md-card-actions>
</md-card>
