<md-card>
  <md-card-subtitle>Step <strong>1</strong> of <strong>2</strong></md-card-subtitle>
  <md-card-title>User</md-card-title>
  <md-card-content>

    <md-input [(ngModel)]="user.firstName" placeholder="First name"></md-input>
    <md-input [(ngModel)]="user.lastName" placeholder="Last name"></md-input>
    <md-radio-group [(ngModel)]="user.gender">
      <md-radio-button value="male">Male</md-radio-button>
      <md-radio-button value="female">Female</md-radio-button>
    </md-radio-group>
  </md-card-content>
  <md-card-actions>
    <button md-button color="warn" (click)="onBack.emit()">BACK</button>
    <button md-button color="warn" (click)="next(user)">NEXT</button>
  </md-card-actions>
</md-card>
