<md-toolbar color="primary" class="md-elevation-z3">
  <span>Angular 2 Multi-step form</span>

  <!-- This fills the remaining space of the current row -->
  <span class="fill"></span>

  <div>
    <button md-raised-button color="accent">Step 1</button>
    <button md-raised-button color="accent">Step 2</button>
  </div>
</md-toolbar>
<div class="container">
  <md-card>
    <md-card-subtitle>Subtitle first</md-card-subtitle>
    <md-card-title>Card with title</md-card-title>
    <md-card-content>
      <p>This is supporting text.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad</p>
    </md-card-content>
    <md-card-actions>
      <button md-button>LIKE</button>
      <button md-button>SHARE</button>
    </md-card-actions>
  </md-card>
  <md-card>
    <md-card-subtitle>Subtitle first</md-card-subtitle>
    <md-card-title>Card with title</md-card-title>
    <md-card-content>
      <p>This is supporting text.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad</p>
    </md-card-content>
    <md-card-actions>
      <button md-button>LIKE</button>
      <button md-button>SHARE</button>
    </md-card-actions>
  </md-card>
</div>
