<md-card>
  <md-card-subtitle>Step <strong>2</strong> of <strong>2</strong></md-card-subtitle>
  <md-card-title>Health</md-card-title>
  <md-card-content>
    <p>This is supporting text.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad</p>
  </md-card-content>
  <md-card-actions>
    <button md-button color="warn" (click)="onBack.emit()">BACK</button>
    <button md-button color="warn" (click)="onNext.emit()">NEXT</button>
  </md-card-actions>
</md-card>
